body{
	font-family: arial, helvetica;
	background: #e8e8e8;
}

.menu3{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu3 li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu3 li{
	display: inline-block;
	text-align: center;
}

.menu3 li a:hover{
	background: #ef8354;
}

body{
	font-family: arial, helvetica;
	background: #e8e8e8;
}

.menu30{
	list-style: none;
	padding: 0;
	background: #e8e8e8;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu30 li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu30 li{
	display: inline-block;
	text-align: center;
}

.menu30 li a:hover{
	background: #ef8354;
}